---
layout: default
title: Three Key Therapy
description: Feeling stuck and can't solve it alone? Shift into the present by getting your body out of survival mode. 
featured_image: /images/treatment6crop2.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Is your body locked in survival mode?</h1>
		<p><strong>
		</br>
		</br>
		</br>
		</strong></p>

	</div>

</section>

<section class="listing">

	<div class="wrap">

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/treatment3.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<p class="post__description">
						Something off that you can't quite explain? 
						</br></br>
						A tense body, shallow breath.
						Feeling trapped, unheard, angry, and constrained.
						Restless and worried, bad sleep, low energy.
						Self-sabotage.
						Physical symptoms that don't heal.
						Overwhelmed or incoherent, always on the run, never quite there.
						The list goes on...
						</br></br>
						A body in survival cannot rest. 		
				</div>
			</div>

		</article>

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url(/images/treatment2.jpg)"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<p class="post__description">
						The body tries to avoid what was painful in the past.
						</br>
						</br>
						Sometimes, we need help to get out of survival mode. Giving the body the safety it needs to process old pains and let go of fear.
						</br>
						</br>
						This what Manuvision therapists are specialised in. 
					</p>
					<h2 class="post__title"><a href="/work-wth-me">Work with me to shift back into the present</a></h2>
				</div>
			</div>

		</article>

<!-- Comments out clutter on homepage

		{% for project in site.projects %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.homepage_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<p class="post__description">{{ project.description }}</p>
					<h2 class="post__title"><a href="/work-wth-me">{{ project.title }}</a></h2>
				</div>
			</div>

		</article>

		{% endfor %}

		{% for project in site.workshops %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.homepage_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}
-->

	</div>

</section>
