<footer class="footer">

	<div class="wrap">

		<h2>Sign up to the newsletter</h2>
		<br>
		<a>{% include newsletter-form.html %}</a>

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<a>KvK: 90334949</a>
			<a>BTW: NL004807772B79</a>
			<a href="https://github.com/threekeytherapy/threekeytherapy.com"> This site on GitHub</a>
	</div>

</footer>