<footer class="footer">

	<div class="wrap">
		
		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<br><br>
			<a href="https://catcollectief.nl/">Registered with CAT</a>
			<a>KvK: 90334949</a> 
			<a>BTW: NL004807772B79</a>   
			<br><br>
			<a href="/privacy-policy">Privacy policy</a> 
			<a href="/terms-and-conditions">Terms and conditions</a>  
			<a href="https://github.com/threekeytherapy/threekeytherapy.com">This site on GitHub</a>  

		</div>
	</div>

</footer>